*{
    padding: 0;
    margin : 0;
    
}
body{
    background: linear-gradient(rgb(112, 147, 241), rgb(236, 236, 167));
    height: 100vh;
}
#game{
    
    width: 400px;
    height: 510px;
    border: 2px solid red;
    display: inline-block;
    margin-top: 60px;
    margin-left: 400px;
}
#header{
    width: 600px;
    height: 600px;
    border: 5px solid red;
    margin: auto;
}
#character{
    width: 20px;
    height: 20px;
    background-color:red;
    border-radius: 50px;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color:rgb(110, 96, 96);
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: rgb(226, 225, 225);

    position: relative;
    top: 100px;
    margin-top: -20px;
}

#score{
    display: inline-block;
    color: blue;
    margin-left: 60px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 100px;
}
